build/
build-mingw/
build-debug/
*.o
*.a
!dist/libofs_runtime.a
!vscode-extension/bin/linux-x64/libofs_runtime.a
*.ll
*.out
/tmp/
*.exe
vscode-extension/node_modules/
# vscode-extension/.gitignore
*.vsix
ROADMAP.
