build/
build-mingw/
build-debug/
*.o
*.a
!ofs/dist/libofs_runtime.a
!src/vscode-extension/bin/linux-x64/libofs_runtime.a
*.ll
!ofs/dist/ofscc.ll
*.out
/tmp/
*.exe
src/vscode-extension/node_modules/
# src/vscode-extension/.gitignore
*.vsix
ROADMAP.md
ROADMAP.
docs/roadmap/
